<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LASER_Background.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LASER_Background.My.MySettings>
            <setting name="SystemEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APIToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpDB1" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpDB2" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpDB3" serializeAs="String">
                <value />
            </setting>
            <setting name="BGSendSMS" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="DbUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DbServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OnlineDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineDatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineDatabaseUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ODBActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ODBToken" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value>mail.lasertec.lk</value>
            </setting>
            <setting name="MailServerPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>lasertec</value>
            </setting>
        </LASER_Background.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
