################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LASER System/bin/Debug/app.publish
/LASER System/publish/*
/LASER System/.vs
/LASER System/Guna_UI_Framework_Ultimate_v2.0.0.1
/LASER System/UpgradeLog.htm
