################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LASER System/bin/Debug/app.publish
/LASER System/publish/*
