<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LASER_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LASER_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LASER_System.My.MySettings>
      <setting name="DBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SendSettlementEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeliveredEmailtoT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastwrongLoginTime" serializeAs="String">
        <value />
      </setting>
      <setting name="CountwrongLogins" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdminEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="StickerPrinterName" serializeAs="String">
        <value>Gainscha GS-2406T</value>
      </setting>
      <setting name="RepairStickerPrinterPaperName" serializeAs="String">
        <value>Repair Label</value>
      </setting>
      <setting name="BillPrinterName" serializeAs="String">
        <value>Zonerich AB-220K</value>
      </setting>
      <setting name="BillPrinterPaperName" serializeAs="String">
        <value>297mm * User Defined</value>
      </setting>
      <setting name="StockStickerPaperName" serializeAs="String">
        <value>Stock Label</value>
      </setting>
      <setting name="BarcodeScannerCOMMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarcodeScannerCOMPort1" serializeAs="String">
        <value />
      </setting>
      <setting name="BarcodeScannerBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="ConfigCNN" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>YJ9R8NnRqK5tUziPQb+lgQ==</value>
      </setting>
      <setting name="DBProvider" serializeAs="String">
        <value>Microsoft.ACE.OLEDB.12.0</value>
      </setting>
      <setting name="BGWorkerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CashDrawer" serializeAs="String">
        <value>False</value>
      </setting>
    </LASER_System.My.MySettings>
  </userSettings>
  <applicationSettings>
    <LASER_System.My.MySettings>
      <setting name="DeveloperMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivityFilePath" serializeAs="String">
        <value>.\System Files\Activity\Activity.json</value>
      </setting>
    </LASER_System.My.MySettings>
  </applicationSettings>
</configuration>
