<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LASER_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LASER_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.25.1.0" newVersion="3.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.4.0" newVersion="0.7.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.0" newVersion="1.3.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LASER_System.My.MySettings>
      <setting name="DBServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="SendSettlementEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeliveredEmailtoT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastwrongLoginTime" serializeAs="String">
        <value />
      </setting>
      <setting name="CountwrongLogins" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdminEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="StickerPrinterName" serializeAs="String">
        <value>Gainscha GS-2406T</value>
      </setting>
      <setting name="RepairStickerPrinterPaperName" serializeAs="String">
        <value>Repair Label</value>
      </setting>
      <setting name="BillPrinterName" serializeAs="String">
        <value>Zonerich AB-220K</value>
      </setting>
      <setting name="BillPrinterPaperName" serializeAs="String">
        <value>297mm * User Defined</value>
      </setting>
      <setting name="StockStickerPaperName" serializeAs="String">
        <value>Stock Label</value>
      </setting>
      <setting name="BarcodeScannerCOMMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarcodeScannerCOMPort1" serializeAs="String">
        <value />
      </setting>
      <setting name="BarcodeScannerBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="ConfigCNN" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DBUserName" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="BGWorkerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CashDrawer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>lasertec</value>
      </setting>
      <setting name="DBPort" serializeAs="String">
        <value>3306</value>
      </setting>
    </LASER_System.My.MySettings>
  </userSettings>
  <applicationSettings>
    <LASER_System.My.MySettings>
      <setting name="DeveloperMode" serializeAs="String">
        <value>False</value>
      </setting>
    </LASER_System.My.MySettings>
  </applicationSettings>
</configuration>
