<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LASER_Background.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <LASER_Background.My.MySettings>
            <setting name="SystemEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APIToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpDB1" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpDB2" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpDB3" serializeAs="String">
                <value />
            </setting>
            <setting name="BGSendSMS" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseProvider" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
            <setting name="OnlineDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineDatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineDatabaseUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ODBActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ODBToken" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value>mail.lasertec.lk</value>
            </setting>
            <setting name="MailServerPort" serializeAs="String">
                <value>587</value>
            </setting>
        </LASER_Background.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
